@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&family=Quicksand:wght@400;500&display=swap');

/* || CSS RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Quicksand', sans-serif;
}

h1, h2, h3 {
  font-family: 'Cormorant Garamond', serif;
}

button{
    cursor: pointer;
}




/* || Gallery */

.gallery-image{
    width: 250px;
    height: 250px;
    border-radius: 25px;
    box-shadow: 0px 4px 6px rgba(0,0,0.1,1);
    
    
}

.gallery-div{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 45px;
    place-items: center;
    width: 80%;
    margin: 0 auto;
    
}

.lg-object{
    max-width: 100%;
    max-height: 100%;
    width:auto !important;
    height: auto !important;
}

.gallery-heading , .work-section__work-heading{
      text-align: center;
    font-weight: 700;
    font-size: 4rem;
    color: #38214a;
    line-height: 1.5;
    margin: 16px 0px;
}
@media screen and (max-width:768px){
    .gallery-div{
    
    grid-template-columns:1fr 1fr;
gap:35px;}
    .gallery-image{
    width: 220px;
    height: 220px; 
    
    }
@media screen and (max-width:480px){
    .gallery-div{
    width: 90%;
    grid-template-columns:1fr;
    gap:25px;}
    .gallery-image{
    width: 300px;
    height: 300px; 
    
    }
}

}



/* || About Section */

.about-container{
    display: flex;
      width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    gap: 16px;
    
}



.about-image-div{
    height: 100%;
    flex: 0.4;
}

.about-image{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    height: auto;
    display: inline-block;
   border-radius: 80px;
    
}

.about-article{
    margin: 50px 0px;
    padding: 25px 0px;
    background-color: #f9e7e6;
}

.about-heading{
    text-align: center;
    font-weight: 700;
    font-size: 4rem;
    color: #38214a;
    line-height: 1.5;
}

.about-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    flex: 0.6;
}

.about-button{
        border: 1px solid #38214a;
    color: #38214a;
    white-space: nowrap;
    background-color: #0000;
    border-radius: 40px;
    padding: 14px 48px;
    font-weight: 700;
}

.about-para{
    line-height: 1.5;
}

.about-button:hover {
  background-color: #38214a;
  color: white;
  transition: 0.3s ease;
}

@media screen and (max-width:1200px) {
    .about-container{

    flex-direction:column;
    
}
}

/* || Contact Section */

#error-msg-para,#error-phone-para,#error-name-para{
  text-align: center;
  color: red;
  font-weight: 900;
}
#submit-msg-para{
    text-align: center;
    font-weight: 900;
}

.contact-section {
    background-color: #38214a;
    height: 850px;
    color: white;
    margin: 75px 0px 0px 0px;
     display: flex;
    justify-content: center;
    align-items: center;
}

.contact-section-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-section-container{
    display: flex;
    justify-content: center;
    align-items: center;
}



.contact-subheading {
      text-align: center;
    font-weight: 700;
    font-size: 4rem;
    color: white;
    line-height: 1.5;
}



.contact-form-div form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 32px 0;
}

.contact-form-div label {
    text-align: center;
}

.contact-form-div input {
    border-radius: 40px;
     border: 1px solid black;
    padding: 18px 80px;
    width: 100%;
}

.contact-form-div textarea {
    border-radius: 40px;
    border: 1px solid black;
    padding: 24px 80px;
    resize: none;
    width: 100%;
}



.contact-number-para {
    text-align: center;
}

.contact-number-para a {
    text-decoration: none;
    color: white;
}



.submit-btn{
    background-color: #0000;
    border-radius: 40px;
    border: 1px solid white;
    color: white;
    font-weight: 700;
    padding: 14px 48px;
    white-space: nowrap;
}

.submit-btn:hover{
    background-color: white;
    color: black;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.contact-anchor-div{
    display: flex;
    justify-content: center;
}
.contact-anchor-div-img{
    width: 30px;
    height: 30px;
    filter:invert(1);
}

/* || Hero section */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');


.hero-image{
    width:100%;
    object-fit: cover;
    margin: 0;
    display: block;
    z-index: 1;
    height: auto;
}

.hero-content{
   
    position: absolute;
    top: 50%;
    left: 10%;
    
}

.hero-anchor{
    text-decoration: none;
    color:black
}



.hero-contanier{
    position: relative;
}

.hero-heading{
    font-size: 5rem;
    color: white;
    text-align: center;
    margin-bottom: 8px;
    font-family: 'Dancing Script', cursive;

}

.hero-subheading{
     font-size: 4rem;
    color: white;
    text-align: center;
    margin-bottom: 8px;
    font-style: italic;
}

.hero-intro{
    font-size: clamp(1.5rem,2vw,3rem);
    color: white;
    text-align: center;
}

.hero-content-btn{
    background-color: white;
    
    text-align: center;
    border-radius: 40px;
   
    padding: 14px 30px;
    font-size: 18px;
    font-weight: 500;
    line-height: 8px;

}

.hero-content-btn:hover{
    background-color: #0077b6; /* Deep cyan-blue */
color: #fff;

}

.hero-btn-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    gap: 16px;
}

@media screen and (max-width:768px){
   .hero-content{
   
    position: absolute;
    top: 30%;
    left: 10%;
    
    }
    .hero-heading{
    font-size: 2.5rem;}
    .hero-subheading{
     font-size: 2rem;
    }
}

/* || Grid section */

.grid-section {
   height: 600px;
   background-color: #f9e7e6;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}

.grid-section-wrapper {
     width: 90%;
    margin: 0 auto;
}

.grid-section-container  {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.grid-image-div {

}

.grid-section-image {
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
}

@media screen and (max-width:1200px) {
   .grid-section {
   height: 400px;}
    
}

/* || Nav Section */



.nav{
    
    background-color: whitesmoke;
}

.nav-wrapper {
  width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
  justify-content: space-between;
  
}

.logo-container {
  

}

/* .logo-anchor {
  
} */

.logo-image {
  max-width: 100%;
  height: 150px;
  display: inline-block;
  vertical-align: middle;

}

.nav-links-container {
  width: 100%;
  height: 100%;
  margin:  auto 0;
}

.nav-links-ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* .nav-link-li {
  
} */

.nav-anchor {
  text-decoration: none;
  font-weight: 900;
  color: black;
}

.nav-anchor:hover{
   font-size: 1.25rem;
  
}

.hamburger-menu{
  display: none;
}

/* @media screen and (max-width:768px){
    .nav-links-container{
        display: none;
         position: absolute;
    }
    .hamburger-menu{
      display: block;
      cursor: pointer;
    }
    .nav-wrapper{
        position: relative;
    }
    
} */

.hamburger-clicked{
    transform: rotate(90deg);
}

/* || Footer section */

.footer-section {
     background-color:#2f2f3a;
     padding-top: 16px;
}

.footer-section__container {
    width: 90%;
    margin: 0 auto;
}

.footer-section__wrapper {
    display: flex;
    justify-content: space-evenly;
}

.footer-section__columns {
     display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

.footer-section__sm-links {
  
}

.footer-section__sm-image {
      width: 32px;
    height: 32px;
    filter: invert(1);
}

.footer-section__copyrightpara {
    color: white;
    border-top: 2px dotted white;
    text-align: center;
    margin-top: 8px;
    font-size: 1.25rem;
}


.footer-section__site-links{
    text-decoration: none;
    text-align: end;
    color: white;
    font-weight: 700;
    font-size: 1rem;
 }

 .footer-section__site-links:hover{
    font-size: 1.25rem;
 }

 /* || Work section */

 .work-section{
    margin: 36px 0px;
 }

 .work-section__wrapper{
    width: 80%;
    margin: 0 auto;
 }

.work-section__iframe{
    width: 500px;
    height: 300px;
}

.work-section__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 16px;
}